@charset "UTF-8"; 
  body{
    background-image: url(../img/mizutama.png);
  h1{
   color: #ff0000;
   background-color: #00bfff;
  }
  #lead{
    font-size: 2.10em;
  }
  p.greeting{
       border: #ffdab9 1px dotted;
       border-left:#7cfc00 10px solid;
       margin-bottom: 0;
       padding: 5px 20px;
  }
  h4 span{
         font-size: 1.95em;
  }
