<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3回目</title>
  <link rel="stylesheet" href="css/default.css" type="text/css">

  <style type="text/css">
    @import url("css/default.css");
    p{color:red}
    @charset "UTF-8";
    body{
      background-color: #00bfff;
    }
    h1 span{
      background-color: #ff0000;
      color: #ff0000;
    }
  </style>
</head>
<body>
  <h1><span>背景色を変更</span></h1>
</body>
</html>
